электроника/Mathcad v14.0/Mathcad/program files/Mathcad/Mathcad 14/DiffTool/Schema/units10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Part of Mathsoft Inc's XML architecture for representation of quantitative information with units.  Developed in cooperation with NIST.-->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Jeremy Lew (Mathsoft Engineering & Education, Inc.) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema targetNamespace="http://schemas.mathsoft.com/units10" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mq="http://schemas.mathsoft.com/units10" xmlns="http://schemas.mathsoft.com/units10" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" attributeFormDefault="unqualified" version="12.0.1">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="W3C-CopyOf-xml.xsd">
    <xs:annotation>
      <xs:documentation>
        Get access to the xml: attribute groups such as xml:lang and xml:space
      </xs:documentation>
    </xs:annotation>
  </xs:import>
	<xs:element name="unitMonomial">
		<xs:annotation>
			<xs:documentation>A group of references to units, each taken to a rational power</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="unitReference" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>This reference allows specification of a rational power for a unit.  These are typically part of the content of a unit-monomial.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="unit" type="xs:string" use="required"/>
						<xs:attribute name="power-numerator" type="xs:integer" use="optional" default="1"/>
						<xs:attribute name="power-denominator" type="xs:integer" use="optional" default="1"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="system" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
